<!DOCTYPE html>
<html>
<head>
</head>
<body>

  <h2>My Packages</h2>

  <table>
    <tr>
      <th>Package ID</th>
      <th>Sending To</th>
      <th>ETA</th>
      <th>Status</th>

    </tr>
    <tr *ngFor="let package of MyPackages">
      <td>{{package.PackageID}}</td>
      <td>{{package.SendToHouseNumber}} {{package.SendToStreet}} {{package.SendToCity}} {{package.SendToState}} </td>
      <td>{{package.ETA}}</td>
      <td>{{package.State}}</td>
    </tr>
  </table>

  <br>
  <br>

  <h2>Packages delivering to me</h2>

  <table>
    <tr>
      <th>Package ID</th>
      <th>Sending To</th>
      <th>ETA</th>
      <th>In route</th>

    </tr>
    <tr *ngFor="let package of ExpectedPackages">
      <td>{{package.PackageID}}</td>
      <td>{{package.SendToHouseNumber}} {{package.SendToStreet}} {{package.SendToCity}} {{package.SendToState}} </td>
      <td>{{package.ETA}}</td>
      <td>{{package.State}}</td>
    </tr>
  </table>

</body>
</html>
