<body>
  <div class="register-page">
    <div class="form">
      <form class="register-form">
        <div class="name-form">
          <input type="text" placeholder="Fist Name" /> <input type="text" placeholder="Middle Int" /> <input type="text" placeholder="Last Name" />
        </div>
        <input type="text" placeholder="Email" />
        <input type="text" placeholder="Phone Number" />
        <div class="adress-form">
          <input type="text" placeholder="House Number" /> <input type="text" placeholder="street Adress" />
          </div>
        <div class="city-form">
          <input type="text" placeholder="city" /> <input type="text" placeholder="state" /> <input type="text" placeholder="zip" />
        </div>
          <input type="password" placeholder="password" />
          <button>login</button>
          <p class="message">Not registered? <a href="register">Create an account</a></p>
      </form>
    </div>
  </div>
</body>
