<<<<<<< HEAD
body {
  margin: auto;
  margin-top: 30px;
  width: 80%;
  padding: 0px;
}

.ZipCodeForm {
  width: 100%;
  margin: 5px;
  color: blue;
}

input {
  width: 303px;
}

button {
  margin: 5px;
}

mat-card {
  color: red;
  width: 240px;
  padding-left: 50px;
  margin: 2px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,.2),
    0px 1px 1px 0px rgba(0,0,0,.14),
    0px 1px 3px 0px rgba(0,0,0,.12);
}

.name {
  color: blue;
  font-size: 20px;
  font-weight: bold;
  line-height: 0px;
}

.address {
  color: black;
  font-size: 12px;
}

.hours {
  font-size: 10px;
  line-height: 0px;
  color: darkgray;
}
||||||| merged common ancestors
=======
.navbar.navbar-light.navbar-expand-lg.bg-white.page-navbar {
  box-shadow:0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  font-weight:bold;
}

.nav-item.item {
  padding-right:2rem;
}

.navbar-nav:last-child .item:last-child, .navbar-nav:last-child .item:last-child a {
  padding-right:0;
}

.map-example .heading .icon {
  color:#ffb526;
}

.map-example {
  margin-top:50px;
  padding-bottom:100px;
}

.map-example .heading {
  margin-bottom:20px;
  border-bottom:1px solid #e4e4e4;
  padding-bottom:30px;
}

.map-example .info {
  margin-bottom:20px;
  border-bottom:1px solid #e4e4e4;
  padding-bottom:20px;
  color:#636363;
}

.map-example .gallery h4 {
  margin-bottom:30px;
}

.map-example .gallery .image {
  margin-bottom:15px;
  box-shadow:0px 2px 10px rgba(0, 0, 0, 0.15);
}

.map-example #map {
  height: 300px;
  margin-bottom: 20px;
}

.page-footer {
  padding-top:32px;
  border-top:1px solid #ddd;
  text-align:center;
  padding-bottom:20px;
}

.page-footer a {
  margin:0px 10px;
  display:inline-block;
  color:#282b2d;
  font-size:18px;
}

.page-footer .links {
  display:inline-block;
}

@media(min-width: 992px){
  .map-example #map{
    height: 500px;
  }
}
>>>>>>> 1f910bbab959ca28d3a9c3789a0439abfa7387ce
