body {
  margin:auto;
  margin-top: 30px;
  width: 80%;
  padding: 0px;
}


.alert {
  margin: auto;
  margin-bottom:30px;
  width: 600px;
  background-color: lightcoral;
  height: 40px;
  line-height: 40px;
}

.alert a {
  margin-left: 10px;
}

  .alert button {
    float: right;
    padding: 5px;
    margin: 5px;
  }


.trackingIDForm {
  margin: auto;
  width: 100%;
  height: 40px;
  line-height: 35px;

}

  .trackingIDForm input {
    height: 30px;
    width: 92%;
    border-radius: 5px;
    border: 2px solid grey;
  }

.trackingIDForm button {
  margin: 0px;
  padding: 0px;
  float: right;
}

.trackingIDForm button:hover {
  background-color: darkslategrey;
}


.info-panel {
  margin:auto;
  margin-top: 40px;
  width: 100%;
  padding:0px;
}

mat-expansion-panel {
  margin-bottom: 10px;
}

mat-expansion-panel-header {
  width: 400px;
  padding: 0px;
  margin: 0px;
  color: darkblue;
  text-align: left;
}

mat-panel-title {
  float:left;
  margin: 0px;
  padding: 0px;
  font: 15px arial, sans-serif;
  font-weight: bold;
}
