<body>
  <div class="alert" [hidden]="hideAlert">
    <a>{{errorMessage}}</a>
    <button (click)="closeAlert()">X</button>
  </div>


  <div class="form">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <input type="text" formControlName="email" placeholder="Email">
      <input type="password" formControlName="password" placeholder="password">
      <button type="submit">login</button>
      <p class="message">Not registered? <a routerLink="../register">Create an account</a></p>
    </form>
  </div>
</body>
