
<div clas>
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <p><a class="btn btn-danger btn-lg" href="#" role="button">Track Package &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="card-deck">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title">Visit our store</h2>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-danger">Go to store</a>
      </div>
  </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title">Employee Login</h2>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-danger">Employee Login</a>
      </div>
  </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title">Customer Portal</h2>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-danger">Customer Login</a>
      </div>
  </div>
</div>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; CougarPost 2019</p>
</footer>
