
<div clas>
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">

      <div class="card text-white bg-danger" style="max-width: 30rem;">
        <div class="card-body">
          <h2 class="card-title">Welcome to CougarShip</h2>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="tracking" class="btn btn-dark">Track your package >> </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card-deck">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title text-danger">Visit our store</h2>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-dark">Go to store >></a>
      </div>
  </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title text-danger">Employee Login</h2>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-dark">Employee Login >></a>
      </div>
  </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title text-danger">Customer Portal</h2>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-dark">Customer Login >></a>
      </div>
  </div>
</div>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p class="text-danger">&copy; CougarShip 2019</p>
</footer>
