<body>
  <div class="alert" [hidden]="hideAlert">
    <a>{{errorMessage}}</a>
    <button (click)="closeAlert()">X</button>
  </div>

    <div class="form">
      <form class="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
        <input type="text" formControlName="Fname" placeholder="Fist Name" />
        <input type="text" formControlName="Mint" placeholder="Middle Int" />
        <input type="text" formControlName="Lname" placeholder="Last Name" />
        <input type="text" formControlName="Email" placeholder="Email" />
        <input type="text" formControlName="PhoneNumber" placeholder="Phone Number" />
        <input type="text" formControlName="HouseNumber" placeholder="House Number" />
        <input type="text" formControlName="Street" placeholder="street Adress" />
        <input type="text" formControlName="City" placeholder="city" />
        <input type="text" formControlName="State" placeholder="state INTI" />
        <input type="text" formControlName="Zip" placeholder="zip" />
        <input type="password" formControlName="Password" placeholder="password" />
        <button type="submit">Register</button>
      </form>
    </div>
</body>
